<% for(var i=0; i<tasks.length; i++){ %>
<tr>
    <td><%= i+1 %> </td>
    <td><%= tasks[i]._id.substr(tasks[i]._id.length -3 )%></td>
    <td><%= tasks[i].summary %></td>
    <td><%= tasks[i].status %></td>
    <td><%= tasks[i].assignee %></td>
    <td><%= tasks[i].dueDate.substr(6, 4) + "-" + tasks[i].dueDate.substr(0, 4) %></td>
    <td><%= tasks[i].priority %></td>
    <td>
        <a href="/update-task?id=<%= tasks[i]._id %> " class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete" data-id=<%= tasks[i]._id %>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>