<% for(var i=0; i<tasks.length; i++){ %>
<tr>
    <td data-label="Row"><%= i+1 %> </td>
    <td data-label="Ticket Id"><%= tasks[i]._id.substr(tasks[i]._id.length -3 )%></td>
    <td data-label="Summary"><%= tasks[i].summary %></td>
    <td data-label="Status"><%= tasks[i].status %></td>
    <td data-label="Assignee"><%= tasks[i].assignee %></td>
    <td data-label="Due Date"><%= tasks[i].dueDate.substr(6, 4) + "-" + tasks[i].dueDate.substr(0, 4) %></td>
    <td data-label="Priority"><%= tasks[i].priority %></td>
    <td data-label="Buttons">
        <a href="/update-task?id=<%= tasks[i]._id %> " class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pen-to-square"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete" data-id=<%= tasks[i]._id %>>
            <span class="text-gradient"><i class="fas fa-trash-can"></i></span>
        </a>
    </td>
</tr>
<% } %>